.button {
  --border-width: 3px;

  position: relative;
  padding: 0;
  border: var(--border-width) solid;
  border-radius: 16px;
  color: var(--color, inherit);
  background-color: var(--background-color, transparent);
  border-color: var(--border-color, transparent);
  outline-offset: var(--border-width);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
}

.button:disabled {
  cursor: default;
}

.button:not(:disabled):active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
