.titleBar {
  display: flex;
  gap: 16px;
  padding: 0 16px;
}

.start,
.center,
.end {
  flex: 1;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.center {
  justify-content: center;
}