.grid {
  width: 100%;
  height: 100%;
  padding: var(--gap);
  display: flex;
  gap: var(--gap);
  flex-direction: column;
  box-sizing: border-box;
}

.row {
  flex: 1;
  display: flex;
  gap: var(--gap);
}

.cell {
  flex: 1;
  border-radius: 16px;
  background-color: rgba(128, 128, 128, 0.1);
}

.cell:not(:empty) {
  background-color: transparent;
}
