.sentenceBox {
  display: flex;
  min-height: 112px;
  padding: 0 16px;
  margin: 16px;
  border-radius: 16px;
  background: rgba(125, 125, 125, 0.1);
}

.sentence {
  flex: 1;
  display: flex;
}

.value {
  display: flex;
}

.actions {
  display: flex;
  align-self: center;
  gap: 8px;
}
