.pictogram {
  display: flex;
  flex-direction: var(--flex-direction);
  gap: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.imgContainer {
  flex: 1;
  position: relative;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.label {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
